<div class="row">
    <div class="col-md-12 text-center">
        <div class="btn-group" role="group" aria-label="Basic example">
          <button type="button" class="btn btn-secondary" [routerLink]="['cerrarOperacion']">Cerrar Operacion</button>
          <button type="button" class="btn btn-secondary" [routerLink]="['crearOperacionTag']">Crear Operacion</button>
          <button type="button" class="btn btn-secondary" [routerLink]="['crearTag']">Crear TAG</button>
          <button type="button" class="btn btn-secondary" [routerLink]="['habilitarTag']">Habilitar TAG</button>
          <button type="button" class="btn btn-secondary" [routerLink]="['liberarTag']">Liberear TAG</button>
        </div>
    </div>
</div>
<router-outlet></router-outlet>
