<div class="container top-30">
  <div class="row">
      <div class="col-md-3 text-center">
        <h1><span class="texto-grande">{{totalTagsConCarga}}</span></h1>Con carga mínima.
      </div>
      <div class="col-md-3 text-center">
        <h1><span class="texto-grande">{{totalTagsSinCarga}}</span></h1>Sin carga mínima.
      </div>
    <div class="col-md-3 text-center">
      <h1><span class="texto-grande">{{totalTagsAsignados}}</span></h1>Asignados.</div>
    <div class="col-md-3 text-center">
      <h1><span class="texto-grande">{{totalTagsSinPosicionActual}}</span></h1>Sin posición actual.</div>
  </div>
  <div class="row">
    <div class="col-md-4 text-center">
      <h1><span >1</span></h1>Asignados fuera de fase.</div>
    <div class="col-md-4 text-center">
      <h1><span >1</span></h1>Operaciones Actuales.</div>
    <div class="col-md-4 text-center">
      <h1><span >1</span></h1>Excedidos de tiempo minimo.</div>
  </div>
</div>
<hr>
<div class="container top-30">
  <div class="row top-30">
    <div class="col-md-6 text-center">
      <div class="card">
        <div class="card-block">
          <h3 class="card-title">Última Asignación</h3>
          <p class="card-text">99/99/9999 99:99</p>
        </div>
      </div>
    </div>
    <div class="col-md-6 text-center">
      <div class="card">
        <div class="card-block">
          <h3 class="card-title">Último Cierre</h3>
          <p class="card-text">99/99/9999 99:99</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row top-30">
    <div class="col-md-6 text-center">
      <div class="card">
        <div class="card-block">
          <h3 class="card-title">Último detenido no autorizado</h3>
          <p class="card-text">99/99/9999 99:99</p>
        </div>
      </div>

    </div>
    <div class="col-md-6 text-center">
      <div class="card">
        <div class="card-block">
          <h3 class="card-title">Último Tag alejandose</h3>
          <p class="card-text">99/99/9999 99:99</p>
        </div>
      </div>

    </div>
  </div>
</div>
